<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users Table</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 20px;
        text-align: center;
        background-color: #f4f4f4;
      }

      h1 {
        color: #333;
        margin-bottom: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 10px;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
      }

      th {
        background-color: #3498db;
        color: #fff;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      tr:hover {
        background-color: #e0e0e0;
      }
    </style>
  </head>
  <body>
    <h1>Users Table</h1>
    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <% usersData.forEach(user => { %>
        <tr>
          <td><%= user.uId %></td>
          <td><%= user.fName %> <%= user.lName %></td>
          <td><%= user.uEmail %></td>
          <td><%= user.uPhone %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
